@font-face{
    font-family: textt;
    src: url("../webfonts/textt.otf");
}
header{
    height: 70px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: seashell;
    z-index: 99;
}
.butn{
    margin-top: 15px;
    margin-right: 15px;
}
nav{
    width: 500px;
    height: 70px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li{
    width: 120px;
    height: 68px;
    float: left;
    color:black;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
  
}
nav ul li:hover{
    cursor: pointer;
    background:palevioletred;
}
.b1{
    text-align: center;
    background-color:pink;
    height: 50px;
    width:120px;
    border-radius: 20px;
 line-height: 40px;
 margin: auto;
 padding: 20px;
}
.sec1{
    height: 600px;
    overflow: hidden;
    background-image: url("../images/pic1.jpg");
    background-size: cover;
}
h1{
    color: beige;
    font-size: 100px;
    font-family: textt;
    text-align: center;
    margin-bottom: 0;


}
.s1{
    margin: auto;
    width: 50%;
    height: 450px;
    background-color:rgb(0, 0,0,.3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.p1{
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
}
.sec2{
    height: 700px;
    overflow: hidden;
    background-color: rgb(216, 191, 216,.2);
    position: relative;
}
.im1{
    height: 500px;
    width: 30%;
    margin-top: 30px;
    margin-left: 150px;
    position: absolute;
    z-index: 1;
}
.p2{
    height: 500px;
    width: 60%;
    background-color: white;
    position: absolute;
    z-index: 2;
    top:150px;
    left:35% ;
}
h2{
    color: black;
    font-size: 100px;
    font-family: textt;
    text-align: center;
    margin-bottom: 0;

}
.prg2{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.sec3{
    height: 600px;
    overflow: hidden;
    /* background-image: url("../images/p3.jpg");
    background-size: cover; */
    background: url("../images/p3.jpg") ;
    background-position: -90px;
    display: flex;
    justify-content: space-around;
   
}
.question{
    height:400px;
    width: 30%;
    background-color: rgb(0,0, 0,.1);
    margin-top: 100px;
}
h3{
    color: white;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 200px;
}
.answer{
    height:400px;
    width: 60%;
    background-color:rgb(0,0, 0,.1) ;
    margin-top: 100px;
    

}
.b2{
    text-align: center;
    /* background-color: rgb(207, 100, 29); */
    background-color: pink;
    display: block;
    height: 50px;
    width:120px;
    border-radius: 20px;
 line-height: 40px;
 margin: auto;
}
.sec4{
    height: 400px;
    overflow: hidden;
   display: flex;
   justify-content: space-around;
   margin-top: 50px;
}
h5{
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    height: 40px;
    background-color: pink;
    color:black;
    overflow: hidden;
    display: flex;
    justify-content: center;



}

.end{
    font-size: 20px;
    font-style: oblique;
 
  
 
}